<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suit">
<test name="TC002_RegisterforNewUser">
<classes >
<class name="test.automation.uiAutomation.registrationPage.TC002_RegisterforNewUser"></class>

</classes>
</test>

</suite>